<% include header %>

    <form method="POST" role="form">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title" required />
        </div>
        <div class="form-group">
            <label for="content">Enter Text:</label>
            <textarea class="form-control" name="body" id="body" placeholder="Enter Some Text" row="3" required></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Save Entry" class="btn btn-primary" />
        </div>
    </form>

<% include footer %>